name: FoodGram UI Tests

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull browser image
        run: docker pull selenoid/chrome:128.0

      - name: Build and run tests with Docker Compose
        run: |
          docker-compose up --build --abort-on-container-exit --exit-code-from tests

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-report
          path: reports/
