name: FoodGram UI Tests

on:
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:dind
        privileged: true
        options: --user root

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start Docker daemon
        run: |
          sudo dockerd --host=unix:///var/run/docker.sock --host=tcp://127.0.0.1:2375 --tls=false &
          sleep 5

      - name: Build and run tests with Docker Compose
        run: |
          docker-compose up --build --abort-on-container-exit --exit-code-from tests

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-report
          path: reports/
